*{
	margin:0;
	padding:0;
	font-family: 'Rubik', sans-serif;
 }
 
header
{
	width:100%;
	height:100hv;
	background-image: linear-gradient(to left,#ffff 80%,#c3f9ff 20%);
} 

.navsection
{
	width:100%;height:10vh;background-color:yellow;
	display:flex;justify-content:space-around;
	align-items:center;	
	background-image: linear-gradient( #d7f0a2,#d7f0a2);
}

.logo
{
	width:40%;
	color: black;
	background-image:linear-gradient(red,yellow);
	padding-left:100px;
	box-sizing:border-box;
}

.logo h2 
{
	text-transform:uppercase;
	font-size:1.6rem;
	animation:tofro 2s linear infinite;
	animation-direction:alternate;
}

@keyframes tofro{
	from{padding-left:40px;}
	to{padding-right:40px;}
}

nav{
	width:60%;
	background-color:linear-gradient( #d7f0a2,#d7f0a2);
	display:flex;
	justify-content:space-around;
}

nav a{
	text-decoration:none;
	text-transform:uppercase;
	color:#000;
	font-weight:900;
	font-size:17px;
	position:relative;
}

nav a:first-child{
	color:red;
}

nav a:before{
	content:"";
	position:absolute;
	top:105%;
	left:0;
	width:0;
	height:2px;
	border-bottom:2px solid #808080;
	transition:all 0.45s linear;
}

nav a:hover:before{
	width:100%
}

main{
	width:100;
	height:90vh;
	display:flex;
	background-image:linear-gradient( to top,#808080,#76FF7A );
	justify-content:space-around;
	align-items:center;
}



.rightside img{
	max-width:350px;
	max-height:auto;
	border:0.7px solid black;
	border-radius:10px;
	box-shadow:0 20px 30px rgba(118,00,225,.7);
}

.leftside
{
	color:#000;
	text-transform:uppercase;

}

.leftside h3
{
	font-size:40px;
	margin-bottom:20px;
	position:relative;
}
.leftside h3:after
{
	content:"";
	width:400px;
	height:3px;
	position:absolute;
	top:95%;
	left:25%;
	background-color:#000;
}

.leftside h1{
	margin-top:20px;
	font-size:50px;
	margin-bottom:25px;
}

.leftside h2{
	margin-bottom:35px;
	font-weight:500;
	word-spacing:2px;
}

.leftside .btn1
{
	text-decoration:none;
	font-weight:900;
	font-size:14px;
	text-align:center;
	padding:12px 20px;
	cursor:pointer;
	text-transform:uppercase;
	border-radius:5px;
	display:line-block;
	margin-right:50px;
	color:#000;
	letter-spacing:1;
	background-image:linear-gradient( #d7f0a2,#d7f0a2);radial-gradient(circle to top left,#4458dc.#854fee);
	border:double 2px transparent;
	box-shadow:0 10px 30px rgba(118,85,255,.3);
}
 .leftside .btn2
 {
	text-decoration:none;
	font-weight:900;
	font-size:14px;
	text-align:center;
	padding:12px 20px;
	cursor:pointer;
	text-transform:uppercase;
	border-radius:5px;
	display:line-block;
	margin-right:50px;
	color:#000;
	letter-spacing:1;
	background-image:linear-gradient( #d7f0a2,#d7f0a2);
	border:double 2px transparent;
	box-shadow:0 10px 30px rgba(118,85,255,.3);
}

.leftside .btn1:hover , .btn2:hover{
	border:2px solid #d7f0a2;
	color:#222;
	background-color:#fff;
	box-shadow:none;
	background-image:none;
	transition:all 0.35s linear;	
}